.about{
  padding:100px 60px;
  font-family:'Madefor Text', sans-serif;background-color: #fafafa;
}

.about-container{
  display:flex;
  gap:60px;
  align-items:center;
}

.about-left{
  flex:1;
}

.about-left h2{
  font-size:65px;
  margin-bottom:20px;
}

.about-left p{
  font-size:16px;
  line-height:1.7;
  margin-bottom:15px;
}

.about-small-image{
  margin-top:20px;
  width:300px;
  border-radius:8px;
}

.about-right{
  flex:1;
}

.about-right img{
  width:100%;
  border-radius:10px;
}


.mission{
  padding:100px 60px;
  text-align:center;background-color: #fafafa;
}

.mission h2{
  font-size:48px;
  margin-bottom:10px;
}

.mission h4{
  font-size:20px;
  margin-bottom:20px;
}

.mission p{
  max-width:800px;
  margin:10px auto;
  line-height:1.6;
}

.products-btn{
  margin-top:30px;
  padding:14px 30px;
  background:black;
  color:white;
  border:none;
  cursor:pointer;
}