.services{
  padding:100px 60px;
  background-color: black;color: white;
  font-family:'Madefor Text', sans-serif;
}

.services-title{
  font-size:70px;
  margin-bottom:60px;
}

.services-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
}

.service hr{
  margin-bottom:20px;
}

.service h3{
  font-size:35px;
  margin-bottom:10px;
}

.service p{
  font-size:18px;
  color:#606060;
}